@font-face {
    font-family: "opensans";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "opensans";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*общие стили*/
.title {
    text-transform: uppercase;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-left: 2px;
}

.title:after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background: #b59f5b;
    position: absolut;
    margin: 7px auto 0;
    opacity: 0.400;
}

.title-font {
    font-size: 20px;
}

.title-margin {
    margin-left: 0;
    margin-right: 3px;
}

.categories {
    display: flex;
    list-style-type: none;
}

.category:nth-child(n + 2) {
    margin-left: 19px;
}

.category-link {
    color: #b59f5b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.category-link:hover {
    color: #b59f5b;
    text-transform: uppercase;
    text-decoration: underline;
}

.post {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    /*картинка и статья в линию*/
}

.post-date {
    display: block;
    margin-right: 15px;
    font-size: 12px;
    color: #888888;
    font-weight: 400;
}

.posts-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    /* margin-bottom: 35px; */
    box-sizing: border-box;
    /* max-height: 150px; */
    display: flex;
    padding-right: 30px;
    margin-top: 5px;
}

.posts-title:hover {
    color: #b59f5b;
}

.title-blackfont {
    color: #0f0d0e;
}

.title-blackfont:hover {
    color: #b59f5b;
}

.article-box {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    height: 70px;
    margin-top: -5px;
    height: fit-content;
}

.articlebox-aside {
    margin-left: 20px;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.submit-button {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    width: 272px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 42px;
    padding: 19px 82px 15px 83px;
}

.aside-submit {
    margin-top: 13px;
}

.submit-button:hover {
    background-color: #323232;
}

/* стили страницы */
.page-elements {
    font-family: "opensans", "arial", "sans-serif";
    /* width: 1660px; */
}

/* popup */
/* .hidden {
    display: none;
} */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    z-index: 5;
    padding-top: 14%;
}

.title-popup {
    margin-left: -7%;
    margin-top: 5%;
    font-size: 18px;
    line-height: 29px;
}

.popup-toggle:checked+.popup {
    display: flex;
}

.popup-content {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    width: 390px;
    padding: 30px 0 15px 30px;
    box-sizing: border-box;
    justify-content: center;
}

.select {
    width: 330px;
    height: 48px;
    background-color: #f4f7f6;
    margin: 0;
    padding-left: 19px;

    display: inline-block;
    box-sizing: border-box;

    opacity: 0.541;
    font-size: 13px;
    font-weight: 400;
    font-family: "opensans";

    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 8px;
    border: none;

    -moz-appearance: none;
    -webkit-appearance: none;
}

.select:focus {
    border: 1px solid #b59f5b;
    outline: none;
}

.form-hint {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 9px;
    display: flex;
    justify-content: start;
}

.radio-control {
    display: none;
    /*убирает кружочек, который нельзя изменить*/
}

.radio-text::before {
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
    content: '';
    width: 25px;
    height: 25px;
    border: 1px solid #b59f5b;
    border-radius: 50%;
}

.radio-group {
    display: inline-block;
    font-size: 15px;
}

.radio-group:nth-of-type(n+2) {
    margin-left: 25px;
}

.radio-control:checked+.radio-text::before {
    background-image: url("../svg/form-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 0;
}

.choise-button {
    display: inline;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.field-textarea {
    font-family: "opensans";
    width: 330px;
    height: 131px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 19px;
    text-decoration: none;
    outline: none;
    resize: none;
    padding-top: 21px;
    padding-left: 19px;
}

.field-textarea:focus {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
    outline: none;
}

.popup-submit {
    width: 330px;
}

.popup-close {
    position: absolute;
    color: white;
    font-size: 60px;
    right: -4px;
    top: -65px;
    cursor: pointer;
}

.popup-close:hover {
    color: lightgray;
}

/* header */
.header {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
    padding-top: 28px;
    height: 450px;
    margin-bottom: 55px;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.logo {
    width: 180px;
    height: 35px;
}

.burger-menu {
    display: none;
}

.menu-list {
    display: flex;
    list-style-type: none;
    margin-top: 1px;
    margin-bottom: 0;
    padding-left: 0;
}

.menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
}

.header-container {
    display: flex;
    align-items: center;
    max-width: 1170px;
    justify-content: space-between;
    margin-right: 14.8%;
    margin-left: 15%;
}

.menu-link {
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.menu-link:hover {
    text-decoration: underline;
}

.header-title {
    max-width: 700px;
    display: flex;
    font-size: 45px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin: auto;
    padding-top: 6.6%;
    padding-right: 5.7px;
    overflow: hidden;
}

/* Тренды */
.trends {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    margin-bottom: 5px;
    gap: 0.23%;
}

.trends-card {
    display: flex;
    justify-content: center;
    align-items: end;
    box-sizing: content-box;
    width: 100%;
    min-height: 319px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
}

.trends-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}

.trends-cover1 {
    background-image: url("../images/trend1.jpg");
}

.trends-cover2 {
    background-image: url("../images/trend2.jpg");
}

.trends-cover3 {
    background-image: url("../images/trend3.jpg");
}

.trends-cover4 {
    background-image: url("../images/trend4.jpg");
}

.trends-container {
    position: relative;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
    z-index: 1;
    margin: 0 5% 4%;
    padding: 8% 9% 8% 8%;
    /* max-height: 319px; */
}

.container-padding {
    padding-right: 0;
}

/*основные статьи*/
.page-content {
    display: flex;
    /*aside-bar сбоку*/
    flex-wrap: nowrap;
    max-width: 1200px;
    /* width: 100%; */
    margin: auto;
    padding: 40px 15px 43px;
    background-color: #ffffff;
    justify-content: center;
}

.posts {
    max-width: 778px;
}

.post-img {
    width: 381px;
    height: 294px;
    background: #eff6f1;
}

.post-header {
    display: flex;
    margin-top: 28px;
}

.autor {
    display: block;
    font-size: 12px;
    line-height: 45px;
    color: black;
    font-weight: 700;
    margin-top: -13px;
    margin-left: -5px;
}

.post-content {
    width: 367px;
    min-height: 62px;
    height: fit-content;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    margin-top: 31px;
}

.mainpost-margin {
    margin-top: 60px;
}

.between-paragraphs {
    margin-bottom: 10px;
}

/* сбоку */
.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    margin-left: 121px;
}

.aside-img {
    width: 70px;
    height: 70px;
    background-color: #f4f7f6;
}

.articlebox-aside {
    margin-left: 18px;
}

.title-aside {
    min-width: 200px;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.title-aside:hover {
    color: #b59f5b;
    cursor: pointer;
}

.post-aside {
    margin-top: 22px;
}

.sidepost-margin {
    margin-top: 30px;
}

/* кнопки */
.search {
    margin-top: 61px;
    margin-bottom: 42px;
    display: flex;
    width: 100%;
}

.field {
    background-color: #f4f7f6;
    border: none;
    box-sizing: border-box;
    padding-left: 17px;
    width: 222px;
    height: 48px;
    font-size: 13px;
}

.field:focus {
    border: 1px solid #b59f5b;
    outline: none;
    width: 100%
}

.search-group {
    display: flex;
    flex-direction: row;
}

.search-button {
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-color: #b59f5b;
    background-position: center;
    width: 48px;
    height: 48px;
    border: none;
}

.search-button:hover {
    background-color: #323232;
}

/* email */
.email {
    margin-top: 30px;
}

.email-field {
    width: 270px;
    height: 48px;
    background-color: #f4f7f6;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    border: none;
    box-sizing: border-box;
    padding: 7px 149px 17px 18px;
}

.email-field:focus {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
    outline: none;
}

/* теги */
.tag {
    flex-wrap: wrap;
    display: flex;
    gap: 6px;
    list-style-type: none;
    margin: 25px 2px 42px 0;
    align-items: center;
}

.tag-link {
    color: #0f0d0e;
    text-decoration: none;
}

.tag-list {
    border: 3px solid #eeeeee;
    padding: 5px 14px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.tag-list:hover {
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #b59f5b;
}

/* Темы */
.topics {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    margin-top: 25px;
}

.topic-list {
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    font-weight: 700;
    align-items: flex-start;
    max-width: 250px;
}

.topic-link {
    text-decoration: none;
    color: #000000;
}

.topic-link:hover {
    color: #b59f5b;
}

.numbers {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    margin-left: 5px;
    vertical-align: top;
}

/* товары */
.footer-box {
    margin: 30px auto 0;
    max-width: 1170px;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product {
    position: relative;
    box-sizing: border-box;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    max-width: 347px;
    height: 267px;
    border: 3px solid #b59f5b;
    z-index: 0;
    margin-top: -30px;
}

.product-img {
    z-index: -1;
    position: relative;
}

.product-name {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    text-align: start;
}

.product-description {
    /* width: 301px; */
    font-size: 15px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 400;
    text-align: start;
    overflow: hidden;
}

.product-link {
    color: #b59f5b;
    text-decoration: none;
}

.product-link:hover {
    width: 140px;
    height: 48px;
    background-color: #323232;
}

.product-header {
    text-align: center;
}

.product-old-price {
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    text-transform: uppercase;
}

.product-new-price {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.product-price {
    font-weight: 700;
    display: block;
    line-height: 1;
    color: #0f0d0e;
}

.product-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.product-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
}

.product-prices {
    display: block;
    margin-bottom: 8px;
}

.product-button {
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    border: none;
}

.product-button:hover {
    width: 140px;
    height: 48px;
    background-color: #323232;
    cursor: pointer;
}

/* футер */
.footer {
    margin-top: 65px;
}

.social {
    display: flex;
    justify-content: center;
    background-color: #f4f7f6;
    padding: 30px 0;
    gap: 25px;
    align-items: flex-start;
    max-width: 1170px;
    height: 83px;
}

.social-list {
    list-style-type: none;
}

.social-link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.social-link-dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.social-link-pinterest {
    background-image: url("../svg/002-pinterest.svg");
}

.social-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    padding-left: 9px;
}

/* mobile */
@media (max-width: 640px) and (orientation: portrait) {
    .popup {
        padding-top: 11%;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 640px;
        min-height: 637px;
        background-image: url("../images/banner-mobile.jpg");
        margin-bottom: 40px;
    }

    .header-container {
        align-items: start;
        /* margin-right: 0;
        margin-left: 13%; */
        justify-content: center;
    }

    .logo {
        width: 268px;
        margin-top: 200px;
        display: block;
    }

    .header-title {
        max-width: 300px;
        font-size: 1.5em;
        line-height: 1.384;
        text-align: center;
        margin-top: 35px;
        margin-left: auto;
    }

    .menu {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5px;
        margin-right: -35px;
        width: 23px;
        height: 18px;
    }

    .burger-menu-line {
        background-color: #fff;
        width: 100%;
        height: 3px;
    }

    .title {
        margin-left: -3px;
        font-size: 16px;
        margin-top: 40px;
    }

    .title-font {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .trends {
        flex-wrap: wrap;
        margin-top: 25px;
    }

    .trends-container {
        padding-left: 5%;
    }

    .trends-card {
        min-height: 231px;
        margin-bottom: 4px;
    }

    .trendscard-margin {
        margin-left: 0;
    }

    .posts-title {
        font-size: 16px;
        line-height: 20px;
        padding-right: 0;
    }

    .title-1 {
        padding-right: 60px;
    }

    .page-content {
        flex-wrap: wrap;
        padding-top: 18px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .mainpost-margin {
        margin-top: 40px;
    }

    .post {
        flex-direction: column;
    }

    .post-header {
        margin-top: 17px;
    }

    .post-img {
        margin-top: -2px;
        width: 100%;
        height: 100%;
    }

    .post-date {
        margin-right: 15px;
    }

    .post-content {
        width: unset;
        font-size: 14px;
        line-height: 20px;
        margin-top: 0;
        margin-left: -1px;
    }

    .between-paragraphs {
        margin-bottom: 6px;
    }

    .post-content::after {
        content: "";
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
        margin-top: 20px;
    }

    .articlebox-main {
        margin-left: -1px;
        margin-top: 8px;
    }

    .sidebar {
        margin-left: 0;
        padding-left: 0;
        max-width: 100%;
    }

    .title-aside {
        min-width: unset;
    }

    .post-aside {
        flex-direction: row;
    }

    .search-group {
        width: 100%;
    }

    .field {
        width: 100%;
    }

    .email {
        margin-top: 25px;
    }

    .email-field {
        width: 100%;
        padding-top: 15px;
        padding-left: 19px;
    }

    .aside-submit {
        margin-top: 17px;
    }

    .submit-button {
        width: 100%;
        margin-bottom: 0;
    }

    .tag {
        gap: 5px;
        margin: 25px 0 -2px 0;
    }

    .title-margin {
        margin-top: -5px;
    }

    .title::after {
        margin-top: 8px;
    }

    .products {
        flex-direction: column;
    }

    .product {
        margin-top: 253px;
        max-width: 330px;
        padding-bottom: 25px;
    }

    .product-box {
        background-repeat: no-repeat;
        background-position: center center;
        height: 285px;
        position: unset;
        margin-bottom: 213px;
        padding-left: 20px;
        padding-right: 22px;
        padding-bottom: 26px;
    }

    .product-img {
        display: none;
    }

    .product-image1 {
        background-image: url(../images/shop-item-mobile1.jpg);
    }

    .product-image2 {
        background-image: url(../images/shop-item-mobile2.jpg);
    }

    .product-image3 {
        background-image: url(../images/shop-item-mobile3.jpg);
        margin-top: 40px;
    }

    .product-name {
        font-size: 17px;
        line-height: 22px;
    }

    .product-description {
        margin-left: -2px;
        margin-top: 2px;
        line-height: 22px;
    }

    .footer {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social {
        width: 92%;
    }

    .copyright {
        margin-top: -20px;
    }

}

@media (max-width: 640px) and (orientation: landscape) {
    .popup {
        padding-top: 11%;
    }

    .menu {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5px;
        margin-right: 20px;
        width: 23px;
        height: 18px;
    }

    .burger-menu-line {
        background-color: #fff;
        width: 100%;
        height: 3px;
    }

    .trends {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 5px;
    }

    .trends-card {
        width: 49%;
        justify-content: space-between;
    }

    .trendscard-margin {
        margin-left: 0;
    }

    .page-content {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 18px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .mainpost-margin {
        margin-top: 37px;
    }

    .post {
        flex-direction: column;
    }

    .post-header {
        margin-top: 17px;
    }

    .post-img {
        width: 328px;
        height: 253px;
    }

    .post-date {
        margin-right: 15px;
    }

    .post-content {
        width: 327px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 0;
        margin-left: -1px;
    }

    .between-paragraphs {
        margin-bottom: 6px;
    }

    .post-content::after {
        content: "";
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
        margin-top: 20px;
    }

    .articlebox-main {
        margin-left: -1px;
        margin-top: 8px;
    }

    .sidebar {
        margin-left: 0;
        max-width: unset;
    }

    .post-aside {
        flex-direction: row;
    }

    .field {
        width: 281px;
    }

    .email {
        margin-top: 25px;
    }

    .email-field {
        padding-top: 15px;
        padding-left: 19px;
    }

    .aside-submit {
        margin-top: 17px;
    }

    .submit-button {
        margin-bottom: 0;
        padding: 0;
    }

    .tag {
        gap: 5px;
        margin: 25px 0 -2px 0;
        max-width: 90%;
    }

    .title-margin {
        margin-top: -5px;
    }

    .title::after {
        margin-top: 8px;
    }

    .products {
        flex-direction: column;
    }

    .product {
        margin-top: 253px;
        width: 330px;
        padding-bottom: 25px;
    }

    .product-box {
        background-repeat: no-repeat;
        background-position: center center;
        height: 285px;
        position: unset;
        margin-bottom: 213px;
        padding-left: 20px;
        padding-right: 22px;
        padding-bottom: 26px;
    }

    .product-img {
        display: none;
    }

    .product-image1 {
        background-image: url(../images/shop-item-mobile1.jpg);
    }

    .product-image2 {
        background-image: url(../images/shop-item-mobile2.jpg);
    }

    .product-image3 {
        background-image: url(../images/shop-item-mobile3.jpg);
        margin-top: 40px;
    }

    .product-name {
        font-size: 17px;
        line-height: 22px;
    }

    .product-description {
        margin-left: -2px;
        margin-top: 2px;
        line-height: 22px;
    }

    .footer {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social {
        width: 92%;
    }

    .copyright {
        margin-top: -20px;
    }

}

@media (max-width: 300px) {
    .header-title {
        word-break: break-all;
    }

    .header {
        min-height: 100%;
    }

    .logo {
        margin-top: 50%;
        max-width: 100%;
    }

    .title-1 {
        padding-right: 0;
    }

    .page-content {
        padding: 0;
        padding-left: 3%;
    }

    .posts {
        max-width: 100%;
    }

    .post-header {
        margin-top: 3%;
    }

    .title-aside {
        word-break: break-all;
    }

    .categories {
        flex-wrap: wrap;
    }

    .autor {
        line-height: normal;
        margin-top: 0;
    }

    .submit-button {
        padding: 0;
    }

    .product-box {
        padding: 0;
    }

    .product-image1 {
        margin-left: 3%;
    }

    .product-image2 {
        margin-left: 3%;
    }

    .product-image3 {
        margin-left: 3%;
    }

    .product {
        padding-left: 0;
        padding-right: 0;
    }

    .social {
        margin-top: 20%;
    }
}

/* tablet */
@media (min-width: 640px) and (max-width: 1200px) and (orientation: portrait) {
    .popup {
        padding-top: 30%;
    }

    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
        padding-top: 25px;
        height: 390px;
        margin-bottom: 45px;
        padding-right: 5px;
    }

    .logo {
        width: 160px;
    }

    .header-title {
        font-size: 40px;
        line-height: 55px;
        padding-top: 12%;
        padding-left: 3px;
        padding-right: 0;
        max-width: 650px;
    }

    .header-container {
        margin-top: 17px;
        margin-left: 34px;
        margin-right: 2%;
    }

    .menu {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5px;
        margin-right: 20px;
        width: 23px;
        height: 18px;
    }

    .burger-menu-line {
        background-color: #fff;
        width: 100%;
        height: 3px;
    }

    .page-content {
        padding-top: 27px;
        padding-bottom: 25px;
    }

    .title {
        margin-right: 6px;
    }

    .title-font {
        font-size: 18px;
    }

    .title:after {
        margin: 10px auto 0;
    }

    .title-margin {
        margin-right: 15px;
    }

    .trends {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 4px;
        /* width: 640px; */
    }

    .trends-card {
        max-width: 49.69%;
        min-height: 245px;
    }

    .trendscard-margin {
        margin-left: 0;
    }

    .posts-title {
        font-size: 17px;
        line-height: 22px;
        max-width: 395px;
        padding-right: 0;
        margin-top: 7px;
    }

    .container-padding {
        padding-right: 9%;
    }

    .post {
        flex-direction: column;
    }

    .post::after {
        content: "";
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
        margin-top: 18px;
    }

    .post-img {
        width: 392px;
        height: 302px;
        margin-bottom: 15px;
    }

    .post-content {
        margin-top: 15px;
        width: 392px;
    }

    .mainpost-margin {
        margin-top: 42px;
    }

    .article-box {
        width: 100%;
        margin-left: 0;
    }

    .articlebox-aside {
        padding-left: 16px;
    }

    .sidebar {
        margin-left: 40px;
    }

    .title-aside {
        margin-left: 4px;
        margin-top: -4px;
    }

    .post-aside {
        flex-direction: row;
    }

    .aside-img {
        margin-left: -2px;
        width: 66px;
    }

    .search {
        margin-top: 60px;
    }

    .search-button {
        margin-left: -5px;
    }

    .email {
        margin-top: 22px;
        margin-left: -5px;
    }

    .email-field {
        font-size: 13.5px;
        padding-top: 14px;
    }

    .field {
        padding-left: 11px;
    }

    .submit-button {
        margin-bottom: 45px;
    }

    .tag {
        margin-bottom: 40px;
        margin-top: 24px;
    }

    .topics {
        margin-top: 24px;
        margin-left: -5px;
    }

    .products {
        flex-wrap: wrap;
        justify-content: flex-start;
        /* gap: 22px; */
    }

    .product-box {
        margin-left: 4%;
    }

    .product {
        margin-left: 5px;
        height: 265px;
        padding-left: 18px;
        width: 335px;
        margin-bottom: 7%;
    }

    .product-size {
        height: 243px;
        margin-top: -33px;
        padding-top: 54px;
    }

    .product-name {
        font-size: 17px;
        line-height: 22px;
    }

    .product-img {
        width: 292px;
        height: 226px;
    }

    .img1 {
        background-image: url(../images/shop-item-tablet1.jpg);
    }

    .img2 {
        background-image: url(../images/shop-item-tablet2.jpg);
    }

    .img3 {
        background-image: url(../images/shop-item-tablet3.jpg);
    }

    .footer {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-box {
        /* margin-left: 4%; */
        max-width: 100%;
        margin-top: 27px;
    }

    .social {
        align-items: center;
        width: 700px;
        margin-left: 0;
        padding-left: 13px;
        gap: 27px;
    }

    .copyright {
        min-height: 115px;
        padding-right: 30px;
    }
}

@media (min-width: 640px) and (max-width: 1200px) and (orientation: landscape) {
    .popup {
        padding-top: 30%;
    }

    .menu {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5px;
        margin-right: 20px;
        width: 23px;
        height: 18px;
    }

    .burger-menu-line {
        background-color: #fff;
        width: 100%;
        height: 3px;
    }

    .posts {
        margin-left: 50px;
    }

    .posts-title {
        font-size: 17px;
        line-height: 22px;
        max-width: 395px;
        padding-right: 0;
        margin-top: 7px;
    }

    .container-padding {
        padding-right: 9%;
    }

    .post {
        flex-direction: column;
    }

    .post::after {
        content: "";
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
        margin-top: 18px;
    }

    .post-img {
        width: 392px;
        height: 302px;
        margin-bottom: 15px;
    }

    .post-content {
        margin-top: 15px;
        width: 392px;
    }

    .mainpost-margin {
        margin-top: 42px;
    }

    .article-box {
        width: 100%;
        margin-left: 0;
    }

    .articlebox-aside {
        padding-left: 16px;
    }

    .sidebar {
        margin-left: 3%;
    }

    .title-aside {
        margin-left: 4px;
        margin-top: -4px;
    }

    .post-aside {
        flex-direction: row;
    }

    .aside-img {
        margin-left: -2px;
        width: 66px;
    }

    .sidepost-margin::after {
        display: none;
    }

    .search {
        margin-top: 60px;
    }

    .search-button {
        margin-left: -5px;
    }

    .email {
        margin-top: 22px;
        margin-left: -5px;
    }

    .email-field {
        font-size: 13.5px;
        padding-top: 14px;
    }

    .field {
        padding-left: 11px;
    }

    .submit-button {
        margin-bottom: 45px;
    }

    .tag {
        margin-bottom: 40px;
        margin-top: 24px;
    }

    .topics {
        margin-top: 24px;
        margin-left: -5px;
    }

    .products {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 22px;
    }

    .product {
        margin-left: 5px;
        height: 265px;
        padding-left: 18px;
        width: 335px;
    }

    .product-size {
        height: 243px;
        margin-top: -33px;
        padding-top: 54px;
    }

    .product-name {
        font-size: 17px;
        line-height: 22px;
    }

    .product-img {
        width: 292px;
        height: 226px;
    }

    .img1 {
        background-image: url(../images/shop-item-tablet1.jpg);
    }

    .img2 {
        background-image: url(../images/shop-item-tablet2.jpg);
    }

    .img3 {
        background-image: url(../images/shop-item-tablet3.jpg);
    }

    .footer {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-box {
        margin-left: 4%;
        margin-top: 27px;
    }

    .social {
        align-items: center;
        width: 700px;
        margin-left: 0;
        padding-left: 13px;
        gap: 27px;
    }

    .copyright {
        min-height: 115px;
        padding-right: 30px;
    }
}